.idea/* 
/all_cv_plot.png
/all_cv_plot_log.png
/CPM_variable_thresh_cv_plots.zip
/negative_cv_plot.png
/negative_cv_plot_log.png
/positive_cv_plot.png
/positive_cv_plot_log.png
/all_cv_plot.png
/all_cv_plot_logx.png
/all_cv_plot_logx_logy.png
/all_cv_plot_logy.png
/cv_plots_cpm.zip
/negative_cv_plot.png
/negative_cv_plot_logx.png
/negative_cv_plot_logx_logy.png
/negative_cv_plot_logy.png
/positive_cv_plot.png
/positive_cv_plot_logx.png
/positive_cv_plot_logx_logy.png
/positive_cv_plot_logy.png
